<style>
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  
  #dicpic {
	width: 100%;
	height: 500px;
  }
</style> 
<div class="row">
	<div class="col s12 m12 l12">
	  <div class="card gradient-45deg-purple-light-blue darken-1" style="max-height:72px;">
		<div class="card-content white-text">
			<div class="row">
				<div class="col s8 m8 l8">
					  <span class="card-title">Distribution of Accidents based on Gender and Age</span>
				</div>
				<div class="col s6 m6 l4 right-align">	
					<span>
						<div class="switch" ng-click="changeGraph()">
							<label class="white-text">
							Male
							<input id="mySwitch" type="checkbox">
							<span class="lever"></span>
							Female
							</label>
						</div>
					</span>
				</div>
			</div>
		  <div class="row">
			  <div class="col s12 m12 l12 right">
				
			  </div>
		  </div>
		</div>
	  </div>
	</div>
  </div>
</div>
	<div class="row">
		<div class="col s12 m12 l12">
			<div id="dicpic"></div>
		</div>
	</div>
</div>

